USE [master]
GO
/****** Object:  Database [tpi_farmacia]    Script Date: 9/11/2025 11:30:47 ******/
CREATE DATABASE [tpi_farmacia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpi_farmacia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tpi_farmacia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpi_farmacia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tpi_farmacia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpi_farmacia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpi_farmacia]
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrios](
	[id_barrio] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_localidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito_Items]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito_Items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_carrito] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id_ciudad] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_pais] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_Obra_Social]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Obra_Social](
	[id_cliente_obra_social] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente_obra_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[id_direccion] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[contrasena] [varchar](100) NULL,
	[id_tipo_usuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coberturas]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coberturas](
	[id_cobertura] [int] NOT NULL,
	[id_tipo_suministro] [int] NOT NULL,
	[porc_cobertura] [int] NOT NULL,
	[id_mes] [int] NOT NULL,
	[id_localidad] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cobertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[id_contacto] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_tipo_contacto] [int] NOT NULL,
	[valor] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Entrega]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Entrega](
	[id_detalle] [int] NOT NULL,
	[id_entrega] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Reembolso]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Reembolso](
	[id_detalle_reembolso] [int] NOT NULL,
	[id_reembolso] [int] NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[monto_rembolso] [decimal](10, 2) NOT NULL,
	[id_cobertura] [int] NOT NULL,
	[fecha_aplicacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_reembolso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Respaldo]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Respaldo](
	[id_detalle_respaldo] [int] NOT NULL,
	[id_respaldo] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad_solicitada] [int] NOT NULL,
	[cantidad_aprobada] [int] NOT NULL,
	[id_estado_respaldo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_Factura]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_Factura](
	[nro_detalle_factura] [int] NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[pre_unitario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_receta]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_receta](
	[nro_detalle_receta] [int] NOT NULL,
	[nro_receta] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_detalle_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[id_direccion] [int] NOT NULL,
	[nom_calle] [varchar](50) NOT NULL,
	[nro_calle] [int] NOT NULL,
	[id_barrio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_Externo]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Externo](
	[id_empleado_externo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado_externo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados_internos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados_internos](
	[id_empleado] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_direccion] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa_Logistica]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Logistica](
	[id_logistica] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cuit] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_logistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[id_entrega] [int] NOT NULL,
	[fecha] [int] NOT NULL,
	[id_logistica] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_empleado_externo] [int] NOT NULL,
	[id_empleado_receptor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Respaldo]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Respaldo](
	[id_estado_respaldo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nro_factura] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_Sucursal] [int] NOT NULL,
	[id_forma_pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forma_Pago]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forma_Pago](
	[id_forma_pago] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_localidad] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_ciudad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[matricula] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meses]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meses](
	[id_mes] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obras_sociales]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obras_sociales](
	[id_obra_social] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[cuit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obra_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id_pais] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cuit] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[nro_receta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[matricula] [int] NOT NULL,
	[fecha] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reembolsos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reembolsos](
	[id_reembolso] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
	[fecha] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reembolso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respaldos]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respaldos](
	[id_respaldo] [int] NOT NULL,
	[codigo_respaldo] [int] NOT NULL,
	[nro_receta] [int] NOT NULL,
	[fecha_respaldo] [int] NOT NULL,
	[id_estado_respaldo] [int] NOT NULL,
	[id_factura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] NOT NULL,
	[descripcion_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[id_Sucursal] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[id_direccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suministros]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suministros](
	[id_suministro] [int] NOT NULL,
	[cod_barra] [int] NOT NULL,
	[descripcion] [varchar](150) NULL,
	[precio_unitario] [float] NOT NULL,
	[id_tipo_suministro] [int] NOT NULL,
	[id_tipo_venta] [int] NOT NULL,
	[url_imagen] [varchar](500) NOT NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_suministro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_contacto]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_contacto](
	[id_tipo_contacto] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuario]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuario](
	[id_tipo_usuario] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Suministros]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Suministros](
	[id_tipo_suministro] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_suministro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Venta]    Script Date: 9/11/2025 11:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Venta](
	[id_tipo_venta] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (1, 100001, N'Ibuprofeno 400mg x20 Comp', 4241, 1, 3, N'medicamento1.jpg', 100)
INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (2, 100002, N'Ibupirac Ibuprofeno 400mg x12 Cáps', 2990, 1, 3, N'medicamento2.jpg', 100)
INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (3, 100003, N'Actron Ibuprofeno 400mg x10 Cáps', 3042, 1, 3, N'medicamento3.jpg', 100)
GO
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (1, N'Medicamento')
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (2, N'Perfume')
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (3, N'Dermocosmética')
GO
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (1, N'Minorista')
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (2, N'Mayorista')
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (3, N'Online')
GO
ALTER TABLE [dbo].[Carritos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Carritos] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[Suministros] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Carrito_Items]  WITH CHECK ADD FOREIGN KEY([id_carrito])
REFERENCES [dbo].[Carritos] ([id_carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carrito_Items]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([id_pais])
REFERENCES [dbo].[Pais] ([id_pais])
GO
ALTER TABLE [dbo].[Cliente_Obra_Social]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Cliente_Obra_Social]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([id_tipo_usuario])
REFERENCES [dbo].[Tipo_Usuario] ([id_tipo_usuario])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_mes])
REFERENCES [dbo].[Meses] ([id_mes])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_tipo_suministro])
REFERENCES [dbo].[Tipos_Suministros] ([id_tipo_suministro])
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[Tipo_contacto] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[Detalle_Entrega]  WITH CHECK ADD FOREIGN KEY([id_entrega])
REFERENCES [dbo].[Entregas] ([id_entrega])
GO
ALTER TABLE [dbo].[Detalle_Entrega]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([id_cobertura])
REFERENCES [dbo].[Coberturas] ([id_cobertura])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([id_reembolso])
REFERENCES [dbo].[Reembolsos] ([id_reembolso])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([nro_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD FOREIGN KEY([id_estado_respaldo])
REFERENCES [dbo].[Estado_Respaldo] ([id_estado_respaldo])
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD FOREIGN KEY([id_respaldo])
REFERENCES [dbo].[Respaldos] ([id_respaldo])
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalles_Factura]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalles_Factura]  WITH CHECK ADD FOREIGN KEY([nro_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Detalles_receta]  WITH CHECK ADD FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalles_receta]  WITH CHECK ADD FOREIGN KEY([nro_receta])
REFERENCES [dbo].[Receta] ([nro_receta])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_empleado_externo])
REFERENCES [dbo].[Empleado_Externo] ([id_empleado_externo])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_empleado_receptor])
REFERENCES [dbo].[Empleados_internos] ([id_empleado])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_logistica])
REFERENCES [dbo].[Empresa_Logistica] ([id_logistica])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[Forma_Pago] ([id_forma_pago])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([id_Sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudad] ([id_ciudad])
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD FOREIGN KEY([matricula])
REFERENCES [dbo].[Medicos] ([matricula])
GO
ALTER TABLE [dbo].[Reembolsos]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([id_estado_respaldo])
REFERENCES [dbo].[Estado_Respaldo] ([id_estado_respaldo])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([id_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([nro_receta])
REFERENCES [dbo].[Receta] ([nro_receta])
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Suministros]  WITH CHECK ADD FOREIGN KEY([id_tipo_suministro])
REFERENCES [dbo].[Tipos_Suministros] ([id_tipo_suministro])
GO
ALTER TABLE [dbo].[Suministros]  WITH CHECK ADD FOREIGN KEY([id_tipo_venta])
REFERENCES [dbo].[Tipos_Venta] ([id_tipo_venta])
GO
USE [master]
GO
