USE [master]
GO
/****** Object:  Database [tpi_farmaciaa]    Script Date: 18/11/2025 13:14:45 ******/
CREATE DATABASE [tpi_farmaciaa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tpi_farmaciaa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tpi_farmaciaa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tpi_farmaciaa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\tpi_farmaciaa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tpi_farmaciaa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tpi_farmaciaa]
GO
/****** Object:  Table [dbo].[Barrios]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrios](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[id_localidad] [int] NOT NULL,
 CONSTRAINT [PK__Barrios__1121F0B2BD37276B] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito_Items]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito_Items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_carrito] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritos](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_creacion] [datetime] NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_pais] [int] NOT NULL,
 CONSTRAINT [PK__Ciudad__B7DC4CD58163ADFA] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente_Obra_Social]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente_Obra_Social](
	[id_cliente_obra_social] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente_obra_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[id_direccion] [int] NOT NULL,
	[email] [varchar](100) NULL,
	[contrasena] [varchar](100) NULL,
	[id_tipo_usuario] [int] NULL,
 CONSTRAINT [PK__Clientes__677F38F5086A7D6B] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coberturas]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coberturas](
	[id_cobertura] [int] NOT NULL,
	[id_tipo_suministro] [int] NOT NULL,
	[porc_cobertura] [int] NOT NULL,
	[id_mes] [int] NOT NULL,
	[id_localidad] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cobertura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contactos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contactos](
	[id_contacto] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_tipo_contacto] [int] NOT NULL,
	[valor] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Entrega]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Entrega](
	[id_detalle] [int] NOT NULL,
	[id_entrega] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Reembolso]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Reembolso](
	[id_detalle_reembolso] [int] NOT NULL,
	[id_reembolso] [int] NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[monto_rembolso] [decimal](10, 2) NOT NULL,
	[id_cobertura] [int] NOT NULL,
	[fecha_aplicacion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_reembolso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Respaldo]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Respaldo](
	[id_detalle_respaldo] [int] NOT NULL,
	[id_respaldo] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad_solicitada] [int] NOT NULL,
	[cantidad_aprobada] [int] NOT NULL,
	[id_estado_respaldo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_Factura]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_Factura](
	[nro_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[pre_unitario] [decimal](10, 4) NULL,
 CONSTRAINT [PK_Detalles_C9E29E6B64A590FE] PRIMARY KEY CLUSTERED 
(
	[nro_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalles_receta]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalles_receta](
	[nro_detalle_receta] [int] NOT NULL,
	[nro_receta] [int] NOT NULL,
	[id_suministro] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_detalle_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[nom_calle] [varchar](50) NOT NULL,
	[nro_calle] [int] NOT NULL,
	[id_barrio] [int] NOT NULL,
 CONSTRAINT [PK__Direccio__25C35D07355C5798] PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado_Externo]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado_Externo](
	[id_empleado_externo] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[dni] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado_externo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados_internos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados_internos](
	[id_empleado] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_direccion] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa_Logistica]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa_Logistica](
	[id_logistica] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cuit] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_logistica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[id_entrega] [int] NOT NULL,
	[fecha] [int] NOT NULL,
	[id_logistica] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_empleado_externo] [int] NOT NULL,
	[id_empleado_receptor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Respaldo]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Respaldo](
	[id_estado_respaldo] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nro_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_Sucursal] [int] NOT NULL,
	[id_forma_pago] [int] NOT NULL,
 CONSTRAINT [PK_Facturas_B31FA9AF858D8BF5] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forma_Pago]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forma_Pago](
	[id_forma_pago] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_ciudad] [int] NOT NULL,
 CONSTRAINT [PK__Localida__9A5E82AAD852864B] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[matricula] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Meses]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meses](
	[id_mes] [int] NOT NULL,
	[mes] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Obras_sociales]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Obras_sociales](
	[id_obra_social] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[cuit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_obra_social] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Pais__0941A3A77327902E] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[cuit] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[nro_receta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[matricula] [int] NOT NULL,
	[fecha] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_receta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reembolsos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reembolsos](
	[id_reembolso] [int] NOT NULL,
	[id_obra_social] [int] NOT NULL,
	[fecha] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reembolso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respaldos]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respaldos](
	[id_respaldo] [int] NOT NULL,
	[codigo_respaldo] [int] NOT NULL,
	[nro_receta] [int] NOT NULL,
	[fecha_respaldo] [int] NOT NULL,
	[id_estado_respaldo] [int] NOT NULL,
	[id_factura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respaldo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] NOT NULL,
	[descripcion_rol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[id_Sucursal] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[telefono] [bigint] NULL,
	[id_direccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suministros]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suministros](
	[id_suministro] [int] IDENTITY(1,1) NOT NULL,
	[cod_barra] [int] NOT NULL,
	[descripcion] [varchar](150) NULL,
	[precio_unitario] [float] NOT NULL,
	[id_tipo_suministro] [int] NOT NULL,
	[id_tipo_venta] [int] NOT NULL,
	[url_imagen] [varchar](500) NOT NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK__Suminist__ABFE9BD151938501] PRIMARY KEY CLUSTERED 
(
	[id_suministro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_contacto]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_contacto](
	[id_tipo_contacto] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Usuario]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Usuario](
	[id_tipo_usuario] [int] NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Suministros]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Suministros](
	[id_tipo_suministro] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_suministro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Venta]    Script Date: 18/11/2025 13:14:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Venta](
	[id_tipo_venta] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Barrios] ON 

INSERT [dbo].[Barrios] ([id_barrio], [nombre], [id_localidad]) VALUES (1, N'Parque Sarmiento', 1)
INSERT [dbo].[Barrios] ([id_barrio], [nombre], [id_localidad]) VALUES (2, N'B° Gral. Paz Norte', 2)
INSERT [dbo].[Barrios] ([id_barrio], [nombre], [id_localidad]) VALUES (3, N'Villa Hipódromo', 3)
SET IDENTITY_INSERT [dbo].[Barrios] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrito_Items] ON 

INSERT [dbo].[Carrito_Items] ([id_item], [id_carrito], [id_suministro], [cantidad], [precio_unitario]) VALUES (79, 5, 32, 1, CAST(8248.00 AS Decimal(10, 2)))
INSERT [dbo].[Carrito_Items] ([id_item], [id_carrito], [id_suministro], [cantidad], [precio_unitario]) VALUES (92, 8, 41, 3, CAST(3977.00 AS Decimal(10, 2)))
INSERT [dbo].[Carrito_Items] ([id_item], [id_carrito], [id_suministro], [cantidad], [precio_unitario]) VALUES (93, 6, 41, 1, CAST(3977.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Carrito_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Carritos] ON 

INSERT [dbo].[Carritos] ([id_carrito], [id_cliente], [fecha_creacion], [estado]) VALUES (5, 3, CAST(N'2025-11-16T23:09:23.333' AS DateTime), N'Abierto')
INSERT [dbo].[Carritos] ([id_carrito], [id_cliente], [fecha_creacion], [estado]) VALUES (6, 1, CAST(N'2025-11-17T00:11:11.337' AS DateTime), N'Cerrado')
INSERT [dbo].[Carritos] ([id_carrito], [id_cliente], [fecha_creacion], [estado]) VALUES (7, 5, CAST(N'2025-11-17T00:14:37.463' AS DateTime), N'Abierto')
SET IDENTITY_INSERT [dbo].[Carritos] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id_ciudad], [nombre], [id_pais]) VALUES (0, N'ads', 1)
INSERT [dbo].[Ciudad] ([id_ciudad], [nombre], [id_pais]) VALUES (1, N'Córdoba', 1)
INSERT [dbo].[Ciudad] ([id_ciudad], [nombre], [id_pais]) VALUES (2, N'Rosario', 1)
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
INSERT [dbo].[Cliente_Obra_Social] ([id_cliente_obra_social], [id_cliente], [id_obra_social]) VALUES (2, 2, 1)
INSERT [dbo].[Cliente_Obra_Social] ([id_cliente_obra_social], [id_cliente], [id_obra_social]) VALUES (3, 3, 2)
INSERT [dbo].[Cliente_Obra_Social] ([id_cliente_obra_social], [id_cliente], [id_obra_social]) VALUES (4, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id_cliente], [nombre], [apellido], [id_direccion], [email], [contrasena], [id_tipo_usuario]) VALUES (0, N'Matias', N'Urbina', 0, N'matias@gmail.com', N'matias', 3)
INSERT [dbo].[Clientes] ([id_cliente], [nombre], [apellido], [id_direccion], [email], [contrasena], [id_tipo_usuario]) VALUES (1, N'Juancito', N'Pérez', 2, N'juan.perez@gmail.com', N'hash_jp', 1)
INSERT [dbo].[Clientes] ([id_cliente], [nombre], [apellido], [id_direccion], [email], [contrasena], [id_tipo_usuario]) VALUES (2, N'María', N'López', 1, N'maria.lopez@yahoo.com', N'hash_ml', 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
INSERT [dbo].[Contactos] ([id_contacto], [id_cliente], [id_tipo_contacto], [valor]) VALUES (1, 1, 1, N'3515551111')
INSERT [dbo].[Contactos] ([id_contacto], [id_cliente], [id_tipo_contacto], [valor]) VALUES (2, 2, 3, N'+54 9 351 444 2222')
INSERT [dbo].[Contactos] ([id_contacto], [id_cliente], [id_tipo_contacto], [valor]) VALUES (3, 3, 2, N'carlos.sosa@outlook.com')
GO
INSERT [dbo].[Detalle_Respaldo] ([id_detalle_respaldo], [id_respaldo], [id_suministro], [cantidad_solicitada], [cantidad_aprobada], [id_estado_respaldo]) VALUES (1, 1, 1, 2, 2, 2)
INSERT [dbo].[Detalle_Respaldo] ([id_detalle_respaldo], [id_respaldo], [id_suministro], [cantidad_solicitada], [cantidad_aprobada], [id_estado_respaldo]) VALUES (3, 3, 3, 1, 0, 3)
INSERT [dbo].[Detalle_Respaldo] ([id_detalle_respaldo], [id_respaldo], [id_suministro], [cantidad_solicitada], [cantidad_aprobada], [id_estado_respaldo]) VALUES (4, 4, 4, 3, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[Detalles_Factura] ON 

INSERT [dbo].[Detalles_Factura] ([nro_detalle_factura], [nro_factura], [id_suministro], [cantidad], [pre_unitario]) VALUES (1, 1, 1, 2, CAST(3500.0000 AS Decimal(10, 4)))
INSERT [dbo].[Detalles_Factura] ([nro_detalle_factura], [nro_factura], [id_suministro], [cantidad], [pre_unitario]) VALUES (3, 3, 3, 1, CAST(5200.0000 AS Decimal(10, 4)))
INSERT [dbo].[Detalles_Factura] ([nro_detalle_factura], [nro_factura], [id_suministro], [cantidad], [pre_unitario]) VALUES (4, 4, 4, 3, CAST(4300.0000 AS Decimal(10, 4)))
SET IDENTITY_INSERT [dbo].[Detalles_Factura] OFF
GO
INSERT [dbo].[Detalles_receta] ([nro_detalle_receta], [nro_receta], [id_suministro], [cantidad]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Detalles_receta] ([nro_detalle_receta], [nro_receta], [id_suministro], [cantidad]) VALUES (2, 2, 2, 1)
INSERT [dbo].[Detalles_receta] ([nro_detalle_receta], [nro_receta], [id_suministro], [cantidad]) VALUES (3, 3, 3, 2)
GO
SET IDENTITY_INSERT [dbo].[Direccion] ON 

INSERT [dbo].[Direccion] ([id_direccion], [nom_calle], [nro_calle], [id_barrio]) VALUES (0, N'La Rioja', 1450, 1)
INSERT [dbo].[Direccion] ([id_direccion], [nom_calle], [nro_calle], [id_barrio]) VALUES (1, N'Av. Colón', 1243, 6)
INSERT [dbo].[Direccion] ([id_direccion], [nom_calle], [nro_calle], [id_barrio]) VALUES (2, N'Bv. Illia', 345, 1)
SET IDENTITY_INSERT [dbo].[Direccion] OFF
GO
INSERT [dbo].[Estado_Respaldo] ([id_estado_respaldo], [descripcion]) VALUES (1, N'Pendiente')
INSERT [dbo].[Estado_Respaldo] ([id_estado_respaldo], [descripcion]) VALUES (2, N'Aprobado')
INSERT [dbo].[Estado_Respaldo] ([id_estado_respaldo], [descripcion]) VALUES (3, N'Rechazado')
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([nro_factura], [fecha], [id_cliente], [id_Sucursal], [id_forma_pago]) VALUES (1, CAST(N'2025-11-12T21:26:04.883' AS DateTime), 1, 1, 1)
INSERT [dbo].[Facturas] ([nro_factura], [fecha], [id_cliente], [id_Sucursal], [id_forma_pago]) VALUES (3, CAST(N'2025-11-12T21:19:27.177' AS DateTime), 3, 3, 3)
INSERT [dbo].[Facturas] ([nro_factura], [fecha], [id_cliente], [id_Sucursal], [id_forma_pago]) VALUES (4, CAST(N'2025-11-12T21:26:04.883' AS DateTime), 4, 4, 4)
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
INSERT [dbo].[Forma_Pago] ([id_forma_pago], [descripcion]) VALUES (1, N'Efectivo')
INSERT [dbo].[Forma_Pago] ([id_forma_pago], [descripcion]) VALUES (2, N'Débito')
INSERT [dbo].[Forma_Pago] ([id_forma_pago], [descripcion]) VALUES (3, N'Crédito 1 pago')
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([id_localidad], [nombre], [id_ciudad]) VALUES (0, N'ads', 0)
INSERT [dbo].[Localidad] ([id_localidad], [nombre], [id_ciudad]) VALUES (1, N'Nueva Córdoba', 1)
INSERT [dbo].[Localidad] ([id_localidad], [nombre], [id_ciudad]) VALUES (2, N'General Paz', 1)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
INSERT [dbo].[Medicos] ([matricula], [nombre], [apellido], [email], [activo]) VALUES (1, N'Ana', N'Gómez', N'ana.gomez@hospital.com', 1)
INSERT [dbo].[Medicos] ([matricula], [nombre], [apellido], [email], [activo]) VALUES (2, N'Diego', N'Martín', N'diego.martin@hospital.com', 1)
INSERT [dbo].[Medicos] ([matricula], [nombre], [apellido], [email], [activo]) VALUES (3, N'Verónica', N'Salas', N'vero.salas@hospital.com', 1)
GO
INSERT [dbo].[Meses] ([id_mes], [mes]) VALUES (1, N'Enero')
INSERT [dbo].[Meses] ([id_mes], [mes]) VALUES (2, N'Febrero')
INSERT [dbo].[Meses] ([id_mes], [mes]) VALUES (3, N'Marzo')
GO
INSERT [dbo].[Obras_sociales] ([id_obra_social], [nombre], [telefono], [email], [cuit]) VALUES (1, N'OSDE', 1144000000, N'contacto@osde.com', 201234567)
INSERT [dbo].[Obras_sociales] ([id_obra_social], [nombre], [telefono], [email], [cuit]) VALUES (2, N'Swiss Medical', 1144200000, N'info@swissmedical.com', 203456789)
INSERT [dbo].[Obras_sociales] ([id_obra_social], [nombre], [telefono], [email], [cuit]) VALUES (3, N'Medifé', 1144300000, N'atencion@medife.com', 209876543)
GO
SET IDENTITY_INSERT [dbo].[Pais] ON 

INSERT [dbo].[Pais] ([id_pais], [nombre]) VALUES (1, N'Argentina')
INSERT [dbo].[Pais] ([id_pais], [nombre]) VALUES (2, N'Uruguay')
INSERT [dbo].[Pais] ([id_pais], [nombre]) VALUES (3, N'Chile')
SET IDENTITY_INSERT [dbo].[Pais] OFF
GO
INSERT [dbo].[Receta] ([nro_receta], [id_cliente], [matricula], [fecha]) VALUES (1, 1, 1, 20250115)
INSERT [dbo].[Receta] ([nro_receta], [id_cliente], [matricula], [fecha]) VALUES (2, 2, 2, 20250116)
INSERT [dbo].[Receta] ([nro_receta], [id_cliente], [matricula], [fecha]) VALUES (3, 3, 3, 20250117)
GO
INSERT [dbo].[Reembolsos] ([id_reembolso], [id_obra_social], [fecha], [estado]) VALUES (1, 1, 20250201, N'Pendiente')
INSERT [dbo].[Reembolsos] ([id_reembolso], [id_obra_social], [fecha], [estado]) VALUES (2, 2, 20250205, N'Procesando')
INSERT [dbo].[Reembolsos] ([id_reembolso], [id_obra_social], [fecha], [estado]) VALUES (3, 3, 20250207, N'Aprobado')
GO
INSERT [dbo].[Respaldos] ([id_respaldo], [codigo_respaldo], [nro_receta], [fecha_respaldo], [id_estado_respaldo], [id_factura]) VALUES (1, 1001, 1, 20250116, 2, 1)
INSERT [dbo].[Respaldos] ([id_respaldo], [codigo_respaldo], [nro_receta], [fecha_respaldo], [id_estado_respaldo], [id_factura]) VALUES (3, 1003, 3, 20250118, 4, 3)
INSERT [dbo].[Respaldos] ([id_respaldo], [codigo_respaldo], [nro_receta], [fecha_respaldo], [id_estado_respaldo], [id_factura]) VALUES (4, 1004, 4, 20250119, 1, 4)
GO
INSERT [dbo].[Roles] ([id_rol], [descripcion_rol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([id_rol], [descripcion_rol]) VALUES (2, N'Vendedor')
INSERT [dbo].[Roles] ([id_rol], [descripcion_rol]) VALUES (3, N'Cajero')
GO
INSERT [dbo].[Sucursales] ([id_Sucursal], [nombre], [telefono], [id_direccion]) VALUES (1, N'Sucursal Centro Córdoba', 35147, 2)
INSERT [dbo].[Sucursales] ([id_Sucursal], [nombre], [telefono], [id_direccion]) VALUES (2, N'Sucursal Nueva Córdoba', 3514800000, 1)
INSERT [dbo].[Sucursales] ([id_Sucursal], [nombre], [telefono], [id_direccion]) VALUES (3, N'Sucursal Palermo', 1147000000, 4)
GO
SET IDENTITY_INSERT [dbo].[Suministros] ON 

INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (1, 100001, N'Ibuprofeno 400mg x20 Comp', 4241, 1, 3, N'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSZGThG4z9UtTfq_r46_CPTSAJHurofYHIeEVNIPs8XwBPBn4ooex-FXnAdfvUx', 100)
INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (2, 100002, N'Ibupirac Ibuprofeno 400mg x12 Cáps', 2990, 1, 3, N'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ7Gz3XeocoZ42xO41nZBoXviPmyJzvMhj07F751H2BpUJc0Tn6ofUrql-UXkRf', 100)
INSERT [dbo].[Suministros] ([id_suministro], [cod_barra], [descripcion], [precio_unitario], [id_tipo_suministro], [id_tipo_venta], [url_imagen], [stock]) VALUES (3, 100003, N'Actron Ibuprofeno 400mg x10 Cáps', 3042, 1, 3, N'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQQBiAFJHYNnXxdzeacb02XUELA5qI21Ix79Jsp38lWZy3pyv4npfUifqkyek0t', 100)
SET IDENTITY_INSERT [dbo].[Suministros] OFF
GO
INSERT [dbo].[Tipo_contacto] ([id_tipo_contacto], [tipo]) VALUES (1, N'Teléfono')
INSERT [dbo].[Tipo_contacto] ([id_tipo_contacto], [tipo]) VALUES (2, N'Email')
INSERT [dbo].[Tipo_contacto] ([id_tipo_contacto], [tipo]) VALUES (3, N'WhatsApp')
GO
INSERT [dbo].[Tipo_Usuario] ([id_tipo_usuario], [descripcion]) VALUES (1, N'Cliente')
INSERT [dbo].[Tipo_Usuario] ([id_tipo_usuario], [descripcion]) VALUES (2, N'Empleado')
INSERT [dbo].[Tipo_Usuario] ([id_tipo_usuario], [descripcion]) VALUES (3, N'Administrador')
GO
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (1, N'Medicamento')
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (2, N'Perfume')
INSERT [dbo].[Tipos_Suministros] ([id_tipo_suministro], [tipo]) VALUES (3, N'Dermocosmética')
GO
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (1, N'Minorista')
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (2, N'Mayorista')
INSERT [dbo].[Tipos_Venta] ([id_tipo_venta], [tipo]) VALUES (3, N'Online')
GO
ALTER TABLE [dbo].[Carritos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Carritos] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[Suministros] ADD  CONSTRAINT [DF__Suministr__stock__7E37BEF6]  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Barrios]  WITH CHECK ADD  CONSTRAINT [FK__Barrios__id_loca__7F2BE32F] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Barrios] CHECK CONSTRAINT [FK__Barrios__id_loca__7F2BE32F]
GO
ALTER TABLE [dbo].[Carrito_Items]  WITH CHECK ADD FOREIGN KEY([id_carrito])
REFERENCES [dbo].[Carritos] ([id_carrito])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carrito_Items]  WITH CHECK ADD  CONSTRAINT [FK__Carrito_I__id_su__01142BA1] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Carrito_Items] CHECK CONSTRAINT [FK__Carrito_I__id_su__01142BA1]
GO
ALTER TABLE [dbo].[Carritos]  WITH CHECK ADD  CONSTRAINT [FK__Carritos__id_cli__02084FDA] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Carritos] CHECK CONSTRAINT [FK__Carritos__id_cli__02084FDA]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [FK__Ciudad__id_pais__02FC7413] FOREIGN KEY([id_pais])
REFERENCES [dbo].[Pais] ([id_pais])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [FK__Ciudad__id_pais__02FC7413]
GO
ALTER TABLE [dbo].[Cliente_Obra_Social]  WITH CHECK ADD  CONSTRAINT [FK__Cliente_O__id_cl__03F0984C] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Cliente_Obra_Social] CHECK CONSTRAINT [FK__Cliente_O__id_cl__03F0984C]
GO
ALTER TABLE [dbo].[Cliente_Obra_Social]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK__Clientes__id_dir__05D8E0BE] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK__Clientes__id_dir__05D8E0BE]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK__Clientes__id_tip__06CD04F7] FOREIGN KEY([id_tipo_usuario])
REFERENCES [dbo].[Tipo_Usuario] ([id_tipo_usuario])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK__Clientes__id_tip__06CD04F7]
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD  CONSTRAINT [FK__Cobertura__id_lo__07C12930] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Coberturas] CHECK CONSTRAINT [FK__Cobertura__id_lo__07C12930]
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_mes])
REFERENCES [dbo].[Meses] ([id_mes])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Coberturas]  WITH CHECK ADD FOREIGN KEY([id_tipo_suministro])
REFERENCES [dbo].[Tipos_Suministros] ([id_tipo_suministro])
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD  CONSTRAINT [FK__Contactos__id_cl__0B91BA14] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Contactos] CHECK CONSTRAINT [FK__Contactos__id_cl__0B91BA14]
GO
ALTER TABLE [dbo].[Contactos]  WITH CHECK ADD FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[Tipo_contacto] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[Detalle_Entrega]  WITH CHECK ADD FOREIGN KEY([id_entrega])
REFERENCES [dbo].[Entregas] ([id_entrega])
GO
ALTER TABLE [dbo].[Detalle_Entrega]  WITH CHECK ADD  CONSTRAINT [FK__Detalle_E__id_su__0E6E26BF] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalle_Entrega] CHECK CONSTRAINT [FK__Detalle_E__id_su__0E6E26BF]
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([id_cobertura])
REFERENCES [dbo].[Coberturas] ([id_cobertura])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD FOREIGN KEY([id_reembolso])
REFERENCES [dbo].[Reembolsos] ([id_reembolso])
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD  CONSTRAINT [FK__Detalle_R__id_su__114A936A] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalle_Reembolso] CHECK CONSTRAINT [FK__Detalle_R__id_su__114A936A]
GO
ALTER TABLE [dbo].[Detalle_Reembolso]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Rnro_f_1CBC4616] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Detalle_Reembolso] CHECK CONSTRAINT [FK_Detalle_Rnro_f_1CBC4616]
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD FOREIGN KEY([id_estado_respaldo])
REFERENCES [dbo].[Estado_Respaldo] ([id_estado_respaldo])
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD FOREIGN KEY([id_respaldo])
REFERENCES [dbo].[Respaldos] ([id_respaldo])
GO
ALTER TABLE [dbo].[Detalle_Respaldo]  WITH CHECK ADD  CONSTRAINT [FK__Detalle_R__id_su__151B244E] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalle_Respaldo] CHECK CONSTRAINT [FK__Detalle_R__id_su__151B244E]
GO
ALTER TABLE [dbo].[Detalles_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_id_su_02FC7413] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalles_Factura] CHECK CONSTRAINT [FK_Detalles_id_su_02FC7413]
GO
ALTER TABLE [dbo].[Detalles_Factura]  WITH CHECK ADD  CONSTRAINT [FK_Detalles_nro_f_02084FDA] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Detalles_Factura] CHECK CONSTRAINT [FK_Detalles_nro_f_02084FDA]
GO
ALTER TABLE [dbo].[Detalles_receta]  WITH CHECK ADD  CONSTRAINT [FK__Detalles___id_su__17F790F9] FOREIGN KEY([id_suministro])
REFERENCES [dbo].[Suministros] ([id_suministro])
GO
ALTER TABLE [dbo].[Detalles_receta] CHECK CONSTRAINT [FK__Detalles___id_su__17F790F9]
GO
ALTER TABLE [dbo].[Detalles_receta]  WITH CHECK ADD FOREIGN KEY([nro_receta])
REFERENCES [dbo].[Receta] ([nro_receta])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD  CONSTRAINT [FK__Direccion__id_ba__19DFD96B] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[Barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[Direccion] CHECK CONSTRAINT [FK__Direccion__id_ba__19DFD96B]
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD  CONSTRAINT [FK__Empleados__id_di__1AD3FDA4] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Empleados_internos] CHECK CONSTRAINT [FK__Empleados__id_di__1AD3FDA4]
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Empleados_internos]  WITH CHECK ADD FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_empleado_externo])
REFERENCES [dbo].[Empleado_Externo] ([id_empleado_externo])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_empleado_receptor])
REFERENCES [dbo].[Empleados_internos] ([id_empleado])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_logistica])
REFERENCES [dbo].[Empresa_Logistica] ([id_logistica])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[Proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturasid_cli_7D439ABD] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturasid_cli_7D439ABD]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturasid_for_7F2BE32F] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[Forma_Pago] ([id_forma_pago])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturasid_for_7F2BE32F]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturasid_Suc_7E37BEF6] FOREIGN KEY([id_Sucursal])
REFERENCES [dbo].[Sucursales] ([id_Sucursal])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturasid_Suc_7E37BEF6]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK__Localidad__id_ci__25518C17] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudad] ([id_ciudad])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK__Localidad__id_ci__25518C17]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK__Receta__id_clien__2645B050] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK__Receta__id_clien__2645B050]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD FOREIGN KEY([matricula])
REFERENCES [dbo].[Medicos] ([matricula])
GO
ALTER TABLE [dbo].[Reembolsos]  WITH CHECK ADD FOREIGN KEY([id_obra_social])
REFERENCES [dbo].[Obras_sociales] ([id_obra_social])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([id_estado_respaldo])
REFERENCES [dbo].[Estado_Respaldo] ([id_estado_respaldo])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD FOREIGN KEY([nro_receta])
REFERENCES [dbo].[Receta] ([nro_receta])
GO
ALTER TABLE [dbo].[Respaldos]  WITH CHECK ADD  CONSTRAINT [FK_Respaldosid_fa_114A936A] FOREIGN KEY([id_factura])
REFERENCES [dbo].[Facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[Respaldos] CHECK CONSTRAINT [FK_Respaldosid_fa_114A936A]
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK__Sucursale__id_di__2BFE89A6] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK__Sucursale__id_di__2BFE89A6]
GO
ALTER TABLE [dbo].[Suministros]  WITH CHECK ADD  CONSTRAINT [FK__Suministr__id_ti__2CF2ADDF] FOREIGN KEY([id_tipo_suministro])
REFERENCES [dbo].[Tipos_Suministros] ([id_tipo_suministro])
GO
ALTER TABLE [dbo].[Suministros] CHECK CONSTRAINT [FK__Suministr__id_ti__2CF2ADDF]
GO
ALTER TABLE [dbo].[Suministros]  WITH CHECK ADD  CONSTRAINT [FK__Suministr__id_ti__2DE6D218] FOREIGN KEY([id_tipo_venta])
REFERENCES [dbo].[Tipos_Venta] ([id_tipo_venta])
GO
ALTER TABLE [dbo].[Suministros] CHECK CONSTRAINT [FK__Suministr__id_ti__2DE6D218]
GO
USE [master]
GO
